# Database
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=wordpress
DB_USER=wordpress
DB_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
DB_PASSWORD_FILE=/run/secrets/db_password

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
