# Wordpress
WORDPRESS_LOCALE=en_US
WORDPRESS_HOST=wordpress.local
WORDPRESS_URL=http://$WORDPRESS_HOST
WORDPRESS_TITLE=My Wordpress Site
WORDPRESS_ADMIN_USER=wordpress
WORDPRESS_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_password
WORDPRESS_ADMIN_EMAIL=testing@test.com

# Database
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=wordpress
DB_USER=wordpress
DB_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
DB_PASSWORD_FILE=/run/secrets/db_password

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
